:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kanban-container {
  display: flex;        /* Active le mode Flexbox */
  flex-direction: row;  /* Aligne les enfants horizontalement (par défaut) */
  gap: 200px;            /* Ajoute de l'espace entre les items sans marges compliquées */
  flex-wrap: wrap;      /* Permet de passer à la ligne si l'écran est trop petit */
  justify-content: center;
}